.button {
    transition: all .4s;
    padding: 1rem 4rem;
    background-color: #334257;
    color: white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%)
}

.button:hover {
    background-color: #DA0037;
}